body {
  font-family: sans-serif;
  color: white;
  background-color: rgba(7, 7, 7, 0.751);
}

form {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.249);
  margin: 10% 40% 8%;
}

fieldset {
  border: none;
}

input {
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 0 5px 0;
  width: 270px;
  height: 20px;
  color: white;
  background-color: rgb(71, 70, 70);
}

.header {
  margin: 0 0 5px 0;
}

textarea {
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  max-height: 70px;
  min-height: 30px;
  background-color: rgb(71, 70, 70);
  color: white;
}

.checkbox {
  width: 10px;
  margin: 10px 0;
  display: inline;
}

.label {
  font-size: 13px;
  display: block;
}

.button-submit {
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
