th,
td,
caption {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border-spacing: none;
  font-family: sans-serif;
  border: 1px solid black;
}

caption {
  border-bottom: none;
  font-weight: 700;
}

.red-color {
  color: red;
}
