html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.647);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

a {
  color: rgb(178, 249, 238);
  font-size: 20px;
}

header {
  background-color: rgba(0, 0, 0, 0.235);
}
.list-item {
  padding: 0px 25px;
}

.container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  border-bottom: 2px solid gray;
}

.link-art {
  width: 50px;
  height: 50px;
  background-color: rgb(178, 249, 238);
  margin-left: 20px;
}

.link-tel {
  margin-right: 25px;
  text-decoration: none;
}
